body {
  margin: 0;
  padding: 0;
  font-family: "futuratee-regular", sans-serif;
}

.pagina-acasa {
  inline-size: 100vw;
  block-size: 100vh;
  background-image: url(images/page1.jpg);
  background-size: cover;
}
.pagina-acasa .navbar-count {
  inline-size: 100%;
  background-color: white;
  z-index: 1;
}
.pagina-acasa .navbar-count .logo {
  margin-inline-end: 20em;
}
.pagina-acasa .main-pagina-acasa {
  padding-block-start: 14%;
  inline-size: 70%;
  position: relative;
  left: 10%;
}
.pagina-acasa .main-pagina-acasa .main-titlu {
  color: red;
  font-weight: 800;
  font-size: 50px;
}
.pagina-acasa .main-pagina-acasa .main-content {
  font-size: 25px;
}
.pagina-acasa .main-pagina-acasa .pagina-acasa-buton {
  position: relative;
  left: 50em;
  top: 3em;
}

.pagina-servicii {
  inline-size: 100vw;
  block-size: 100vh;
  background-image: conic-gradient(at 50% 30%, red 23%, #EDEDED 23% 77%, red 77%);
}
.pagina-servicii .pg-servicii-title {
  color: white;
  font-size: 60px;
  padding-block-start: 1.5em;
  text-align: center;
}
.pagina-servicii .pg-servicii-article {
  margin-block-start: 6em;
}
.pagina-servicii .middle-article__info {
  font-family: "futuratee-regular", sans-serif;
  inline-size: 300px;
  padding: 20px 20px 10px 20px;
  background-color: white;
  border-radius: 5%;
}
.pagina-servicii .middle-article__info h3 {
  text-align: center;
  color: red;
  font-weight: 600;
}

.pagina-angajare {
  inline-size: 100vw;
  block-size: 100vh;
  background-color: #EDEDED;
  overflow: hidden;
  position: relative;
}
.pagina-angajare .fon-transparent {
  transform: translateX(120%) translateY(-40%);
  inline-size: 50em;
  block-size: 50em;
  border-radius: 50%;
  border: 5px solid white;
  background-image: radial-gradient(transparent 0 48%, white 48% 49%, transparent 49% 60%, white 60% 61%, transparent 61% 100%);
}
.pagina-angajare .fon-rosu {
  transform: translateX(-25%) translateY(-60%);
  inline-size: 60em;
  block-size: 60em;
  border-radius: 50%;
  background-image: radial-gradient(red 0 27%, white 27% 28%, red 28% 38%, white 38% 39%, red 39% 50%, white 50% 51%, red 51% 100%);
}
.pagina-angajare .angajare-person {
  inline-size: 27em;
  block-size: 46em;
  position: absolute;
  top: 6em;
  left: 10em;
}
.pagina-angajare .angajare-title {
  position: absolute;
  top: 3em;
  right: 5em;
  color: black;
  font-size: 50px;
  font-weight: 800;
}
.pagina-angajare .angajare-paragraf {
  position: absolute;
  inline-size: 35%;
  top: 13em;
  right: 9em;
  font-size: 25px;
}
.pagina-angajare .angajare-buton {
  position: absolute;
  bottom: 10em;
  right: 15em;
}

.pagina-preturi {
  inline-size: 100vw;
  block-size: 100vh;
  background-image: conic-gradient(at 50% 30%, red 23%, #EDEDED 23% 77%, red 77%);
}
.pagina-preturi .pg-preturi-title {
  color: white;
  font-size: 60px;
  padding-block-start: 1.6em;
  text-align: center;
}
.pagina-preturi .price-section {
  margin-block-start: 5em;
}
.pagina-preturi .price-section .price-section__card:nth-child(1), .pagina-preturi .price-section .price-section__card:nth-child(3) {
  border: none;
  inline-size: 400px;
  padding: 5px;
  block-size: 50%;
  margin-block-start: 50px;
  background-color: white !important;
}
.pagina-preturi .price-section .price-section__card:nth-child(1) .card-img-top, .pagina-preturi .price-section .price-section__card:nth-child(3) .card-img-top {
  margin-block-start: 1em;
}
.pagina-preturi .price-section .price-section__card:nth-child(1) .card-title, .pagina-preturi .price-section .price-section__card:nth-child(3) .card-title {
  text-align: center;
  margin-block-end: 1em;
}
.pagina-preturi .price-section .price-section__card:nth-child(1) img, .pagina-preturi .price-section .price-section__card:nth-child(3) img {
  inline-size: 100px;
  margin: 0 auto;
}
.pagina-preturi .price-section .price-section__card:nth-child(2) {
  border: none;
  inline-size: 400px;
  padding: 5px;
  block-size: 32em;
  margin-block-start: 20px;
  background-color: red !important;
}
.pagina-preturi .price-section .price-section__card:nth-child(2) .card-img-top {
  margin-block-start: 1em;
}
.pagina-preturi .price-section .price-section__card:nth-child(2) .card-title {
  text-align: center;
  margin-bottom: 2em;
  color: white;
}
.pagina-preturi .price-section .price-section__card:nth-child(2) img {
  inline-size: 100px;
  margin: 1em auto;
}

.pagina-contacte {
  inline-size: 100vw;
  block-size: 100vh;
  background-image: conic-gradient(at 50% 55%, #EDEDED 27%, red 27% 73%, #EDEDED 73%);
}
.pagina-contacte .price-section__card {
  inline-size: 500px;
  padding: 5px;
  block-size: 57%;
  margin-block-start: 140px;
  background-color: white !important;
  border: none;
}
.pagina-contacte .price-section__card .card-title {
  text-align: center;
  margin-block-end: 1em;
}
.pagina-contacte .contacts-title {
  color: white;
  font-weight: 600;
  margin-block-start: 6.5em;
  padding-inline-start: 3em;
}
.pagina-contacte .count-header_list {
  color: white;
  margin-inline-start: 4em;
}
.pagina-contacte .count-header_list li {
  padding-block-start: 1em;
}
.pagina-contacte .retele-sociale a {
  block-size: 10px;
  transform: translateX(13em) translateY(7em);
  padding-inline-start: 10px;
  bottom: 2em;
}
.pagina-contacte .retele-sociale a img {
  inline-size: 40px;
}
.pagina-contacte .retele-sociale .form {
  background-color: white;
  padding: 10px;
  position: relative;
  transform: translateX(27em) translateY(-2em);
  border-radius: 10%;
  inline-size: 25em;
  block-size: 12em;
}
.pagina-contacte .retele-sociale .form h2 {
  font-size: 25px;
  color: black;
  text-align: center;
}
.pagina-contacte .retele-sociale .form .input {
  font-size: 15px;
  margin-inline-start: 1em;
  inline-size: 23em;
  padding-inline-start: 30px;
  background-image: url(images/at.svg);
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.pagina-contacte .retele-sociale .form a {
  color: black;
  text-decoration: none;
}
.pagina-contacte .retele-sociale .form a:hover {
  text-decoration: underline;
}
.pagina-contacte .retele-sociale .form .email {
  margin: 10px 0;
}
.pagina-contacte .retele-sociale .form button {
  margin-inline-start: 1.5em;
  inline-size: 345px;
  block-size: 30px;
  border: none;
  font-size: 10px;
  padding: 1.25px;
  color: transparent;
  background-color: red;
  background-image: url(images/email-fast.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

@media (max-width: 1400px) {
  .angajare-title {
    right: 4em !important;
  }
  .angajare-paragraf {
    right: 8em !important;
  }
  .angajare-buton {
    bottom: 7em !important;
    right: 13em !important;
  }
  .retele-sociale a {
    transform: translateX(9em) translateY(7em) !important;
  }
  .retele-sociale .form {
    transform: translateX(18em) translateY(-2em) !important;
  }
}
@media (max-width: 1200px) {
  .logo {
    margin-inline-end: 8em !important;
  }
  .main-pagina-acasa {
    left: 13% !important;
  }
  .main-pagina-acasa .pagina-acasa-buton {
    left: 32em !important;
  }
  .middle-article__info {
    inline-size: 280px !important;
  }
  .angajare-title {
    right: 2em !important;
  }
  .angajare-paragraf {
    right: 2em !important;
  }
  .angajare-buton {
    bottom: 5em !important;
    right: 4em !important;
  }
  .fon-rosu {
    transform: translateX(-30%) translateY(-60%) !important;
  }
  .price-section__card {
    inline-size: 350px !important;
  }
  .pagina-contacte .price-section__card {
    inline-size: 450px !important;
  }
  .pagina-contacte .price-section__card .input-span {
    width: 22.9em !important;
  }
  .retele-sociale a {
    transform: translateX(3em) translateY(7em) !important;
  }
  .retele-sociale .form {
    transform: translateX(7em) translateY(-2em) !important;
  }
}
@media (max-width: 992px) {
  .navbar-count .nav-link {
    font-size: 20px !important;
  }
  .navbar-count .logo {
    margin-inline-end: 5em !important;
  }
  .main-pagina-acasa h1 {
    inline-size: 65%;
  }
  .main-pagina-acasa .pagina-acasa-buton {
    left: 25em !important;
  }
  .pagina-angajare .fon-rosu {
    transform: translateX(-40%) translateY(-60%) !important;
  }
  .pagina-angajare .angajare-person {
    left: 5em;
  }
  .pagina-angajare .angajare-title {
    right: 1em !important;
  }
  .pagina-angajare .angajare-paragraf {
    font-size: 23px;
  }
  .pagina-angajare .angajare-buton {
    bottom: 8em !important;
  }
  .price-section {
    margin-block-start: 5em;
  }
  .price-section .price-section__card:nth-child(1),
  .price-section .price-section__card:nth-child(3) {
    inline-size: 300px !important;
    block-size: 45%;
  }
  .pagina-contacte .price-section__card .input-group-text {
    padding: 5px !important;
  }
  .pagina-contacte .price-section__card .input-span {
    inline-size: 14em !important;
  }
  .pagina-contacte .contacts-title {
    padding-inline-start: 2em !important;
  }
  .pagina-contacte .count-header_list li {
    margin-left: -2em !important;
  }
  .pagina-contacte .retele-sociale a {
    transform: translateX(0em) translateY(8em) !important;
  }
  .pagina-contacte .retele-sociale a img {
    inline-size: 30px;
  }
  .pagina-contacte .retele-sociale .form {
    transform: translateX(2em) translateY(-2em) !important;
  }
  .pagina-servicii .pg-servicii-article {
    display: grid;
  }
  .pagina-servicii .middle-article__info {
    font-family: "futuratee-regular", sans-serif;
    inline-size: 300px;
    padding: 20px 20px 10px 20px;
    background-color: white;
    border-radius: 5%;
  }
  .pagina-servicii .middle-article__info h3 {
    text-align: center;
    color: red;
    font-weight: 600;
  }
}/*# sourceMappingURL=count-in.css.map */